*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex_wrapper{
    display: flex;
    margin: 0 100px;
    justify-content: space-around;
    flex-flow: row wrap;
}
.card{
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    border: 2px solid black;
    padding: 20px;
    margin: 15px;
    border-radius: 5px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.card img{
    height: 150px;
}
.card>button{
    padding: 5px;
    font-size: 15px;
}